* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Inter', sans-serif;
    background: #ffffff;
}

.container {
    width: 90%;
    max-width: 1250px;
    margin: auto;
}
/* Navbar CSS */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

}

.nav-items ul {
    display: flex;
    justify-content: center;
    list-style: none;

}

.nav-items a {
    text-decoration: none;
    color: #06090f;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
    padding: 8px 10px;

}

.nav-items a:hover {
    color: #2563eb;
    background-color: lightgray;
}

.register-button {
    /* text-decoration:none; */
    background: #2f5bea;
    color: #fff;
    padding: 15px 34px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

.register-button:hover {
    background: #1d4ed8;
}

